/* card */

.card {
    width: 200px;
    padding: 20px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 5px;
    text-align: center;
}

.card img {
    width: 100%;
}

.card button {
    padding: 5px 20px;
    cursor: pointer;
    background: rgba(70, 205, 114, 0.2);
    border-radius: 3px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
}